.Toolsbar {
  display: flex;
  flex-direction: row;
  margin: 10px; }

.GameRow {
  display: flex;
  flex-direction: row; }

.GameCell,
.Player {
  width: 34px;
  height: 34px;
  max-width: 34px;
  min-width: 34px;
  max-height: 34px;
  min-height: 34px;
  display: flex;
  align-items: center; }
