.GamesContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 5px; }

.Toolsbar {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 5px; }

.GameRow {
  display: flex;
  flex-direction: row; }

.GameCell,
.Player,
.Food {
  width: 25px;
  height: 25px;
  max-width: 25px;
  min-width: 25px;
  max-height: 25px;
  min-height: 25px;
  display: flex;
  align-items: center;
  border: solid 0.5px #A8A7A7; }

.animateNewLevel {
  animation: zoomInDown 6s infinite; }

.animateSwitchHero {
  animation: bounce 5s infinite; }

.imgFood,
.imgMonster,
.imgBosses {
  width: 24px;
  height: 24px;
  max-width: 24px;
  min-width: 24px;
  max-height: 24px;
  min-height: 24px;
  display: flex;
  align-items: center; }

.Health,
.Weapon,
.Attack,
.Hero,
.Experience,
.Dungeon,
.Sound {
  border: solid 1px;
  margin: 5px;
  padding: 2px 0px 0px 2px;
  display: flex;
  align-items: center; }

.Sound {
  display: inline-flex; }

.soundSlider {
  min-width: 100px; }

.rangeslider-horizontal {
  height: 6px;
  border-radius: 5px; }

.rangeslider-horizontal .rangeslider__handle {
  width: 20px;
  height: 20px;
  border-radius: 20px; }

.rangeslider-horizontal .rangeslider__handle:after {
  content: ' ';
  position: absolute;
  width: 8px;
  height: 8px;
  top: 5px;
  left: 5px; }

.rangeslider .rangeslider__handle-tooltip {
  width: 30px;
  height: 30px;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 14px;
  transition: all 100ms ease-in;
  border-radius: 4px;
  display: inline-block;
  color: white;
  left: 50%;
  transform: translate3d(-50%, 0, 0); }

.rangeslider .rangeslider__handle-tooltip span {
  margin-top: 12px;
  display: inline-block;
  line-height: 100%; }

.ReactModalPortal > div {
  opacity: 0; }

.centerHorizontal {
  display: flex;
  justify-content: center; }

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  flex-direction: col;
  align-items: center;
  background: rgba(0, 0, 0, 0.15) !important;
  animation: rollIn 3s; }
  .ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1; }
  .ReactModalPortal .ReactModal__Overlay .congratText {
    animation: jello 10s infinite;
    max-width: 200px;
    text-align: center; }
