.Toolsbar {
    display: flex;
    flex-direction: row;
    margin: 10px
}

.GameRow {
    display: flex;
    flex-direction: row;
}

$cell_size: 34px;
.GameCell,
.Player {
    width: $cell_size;
    height: $cell_size;
    max-width: $cell_size;
    min-width: $cell_size;
    max-height: $cell_size;
    min-height: $cell_size;
    display: flex;
    align-items: center;
}