.Toolsbar {
    display: flex;
    flex-direction: row;
    margin: 10px
}

.GameRow {
    display: flex;
    flex-direction: row;
}

$cell_size: 34px;
$img_food_size: 32px;
.GameCell,
.Player,
.Food {
    width: $cell_size;
    height: $cell_size;
    max-width: $cell_size;
    min-width: $cell_size;
    max-height: $cell_size;
    min-height: $cell_size;
    display: flex;
    align-items: center;
    border: solid 1px #A8A7A7;
}

.imgFood,
.imgMonster {
    width: $img_food_size;
    height: $img_food_size;
    max-width: $img_food_size;
    min-width: $img_food_size;
    max-height: $img_food_size;
    min-height: $img_food_size;
    display: flex;
    align-items: center;
}